<nav class="main-nav site-nav v3-nav" id="site-nav" aria-label="Основное меню" data-site-nav>
  <div class="main-nav__group main-nav__group--repair" data-menu-item>
    <button class="main-nav__trigger" type="button" aria-expanded="false" aria-controls="main-nav-repair" data-menu-toggle>
      <span>Ремонт</span>
    </button>

    <div class="main-nav__panel main-nav__panel--mega" id="main-nav-repair" data-menu-panel>
      <div class="main-nav__panel-inner">
        <div class="main-nav__feature">
          <span class="main-nav__eyebrow">Грузовой автосервис</span>
          <strong>Ремонт грузовиков и спецтехники</strong>
          <p>Быстрый переход к основным направлениям ремонта на базе РемСД в Сургуте.</p>
          <a href="{{rootPath}}remont/">Все направления ремонта</a>
        </div>

        <div class="main-nav__columns">
          <div class="main-nav__column">
            <p class="main-nav__title">По типу техники</p>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-gruzovyh-avtomobiley/">Ремонт грузовых автомобилей</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-tyagachey/">Ремонт седельных тягачей</a>
            <a href="{{rootPath}}remont-polupricepov-i-tralov/">Ремонт полуприцепов и тралов</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-avtobusov/">Ремонт автобусов</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}kuzovnoy-remont-gruzovoy-tehniki/">Кузовной ремонт грузовой техники</a>
          </div>

          <div class="main-nav__column">
            <p class="main-nav__title">Спецтехника</p>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/">Ремонт спецтехники</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/ekskavatorov/">Ремонт экскаваторов</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/buldozerov/">Ремонт бульдозеров</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/pogruzchikov/">Ремонт фронтальных погрузчиков</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/avtokranov/">Ремонт автокранов</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/manipulyatorov/">Ремонт манипуляторов</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/samosvalov/">Ремонт самосвалов</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/truboukladchikov/">Ремонт трубоукладчиков</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/greyderov/">Ремонт грейдеров</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/dorozhnyh-katkov/">Ремонт дорожных катков</a>
            <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont-spectehniki/traktorov/">Ремонт тракторов</a>
          </div>

          <div class="main-nav__column main-nav__column--brands">
            <p class="main-nav__title">Марки грузовиков</p>
            <div class="main-nav__official">
              <span class="main-nav__official-label">Официальный сервис</span>
              <div class="main-nav__official-list">
                <a class="main-nav__brand main-nav__brand--official" href="{{rootPath}}remont/kamaz/">Ремонт КАМАЗ</a>
                <a class="main-nav__brand main-nav__brand--official" href="{{rootPath}}remont/maz/">Ремонт МАЗ</a>
                <a class="main-nav__brand main-nav__brand--official" href="{{rootPath}}remont/ural/">Ремонт УРАЛ</a>
              </div>
            </div>
            <div class="main-nav__brand-cloud" aria-label="Будущие брендовые направления">
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/man/">MAN</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/shacman/">Shacman</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/sitrak/">Sitrak</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/howo/">Howo</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/scania/">Scania</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/volvo/">Volvo</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/mercedes-benz/">Mercedes-Benz</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/renault-trucks/">Renault Trucks</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/daf/">DAF</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/iveco/">Iveco</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/foton/">Foton</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/faw/">FAW</a>
              <a href="#" data-placeholder-link data-future-href="{{rootPath}}remont/dongfeng/">Dongfeng</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="main-nav__group main-nav__group--rent" data-menu-item>
    <button class="main-nav__trigger" type="button" aria-expanded="false" aria-controls="main-nav-rent" data-menu-toggle>
      <span>Аренда техники</span>
    </button>

    <div class="main-nav__panel main-nav__panel--rent" id="main-nav-rent" data-menu-panel>
      <div class="main-nav__panel-inner">
        <div class="main-nav__column">
          <p class="main-nav__title">Спецтехника в аренду</p>
          <a href="{{rootPath}}arenda/">Аренда спецтехники</a>
          <a href="#" data-placeholder-link data-future-href="{{rootPath}}arenda/avtokranov/">Аренда автокранов</a>
          <a href="#" data-placeholder-link data-future-href="{{rootPath}}arenda/frontalnogo-pogruzchika/">Аренда фронтального погрузчика</a>
          <a href="#" data-placeholder-link data-future-href="{{rootPath}}arenda/ekskavatorov/">Аренда экскаваторов</a>
          <a href="#" data-placeholder-link data-future-href="{{rootPath}}arenda/truboukladchik-90-tonn/">Аренда трубоукладчика</a>
          <a href="#" data-placeholder-link data-future-href="{{rootPath}}arenda/manipulyator-3-tonny/">Аренда манипулятора</a>
          <a href="#" data-placeholder-link data-future-href="{{rootPath}}arenda/samosvala/">Аренда самосвала</a>
          <a href="#" data-placeholder-link data-future-href="{{rootPath}}perevozka-negabarita/">Перевозка негабарита</a>
        </div>
      </div>
    </div>
  </div>

  <a class="main-nav__link" href="{{rootPath}}sertifikaty/">Сертификаты</a>
  <a class="main-nav__link" href="{{rootPath}}kontakty/">Контакты</a>
</nav>
