<div class="media-lightbox" role="dialog" aria-modal="true" aria-labelledby="media-lightbox-title" hidden data-media-lightbox>
  <div class="media-lightbox__panel">
    <div class="media-lightbox__top">
      <div>
        <p class="media-lightbox__counter" data-lightbox-counter></p>
        <h2 id="media-lightbox-title" data-lightbox-title>Просмотр</h2>
      </div>
      <button class="media-lightbox__close" type="button" data-lightbox-close aria-label="Закрыть просмотр">Закрыть</button>
    </div>

    <div class="media-lightbox__stage">
      <button class="media-lightbox__nav media-lightbox__nav--prev" type="button" data-lightbox-prev aria-label="Предыдущее изображение"></button>
      <figure class="media-lightbox__figure">
        <img src="" alt="" width="1440" height="1080" data-lightbox-image>
        <figcaption data-lightbox-caption></figcaption>
      </figure>
      <button class="media-lightbox__nav media-lightbox__nav--next" type="button" data-lightbox-next aria-label="Следующее изображение"></button>
    </div>
  </div>
</div>
